# Pandas Practice: Albanian House Prices Analysis

## Learning Goals

By the end of this notebook, you will:

- Load and explore real-world data from CSV files
- Detect and handle missing values and duplicates
- Perform data quality checks and cleaning operations
- Analyze data using grouping and aggregation
- Create new features through calculations
- Generate insights from data to answer business questions


## Overview

We have created **synthetically** a small dataset listing house prices in Albania. 

**Dataset:** 100 house listings from Albania (Tirana, Durrës, Vlorë, Shkodër)

**Features:**

- **Zone:** Property location (categorical)
- **Property_Type:** Apartment, House, or Villa (categorical)
- **Size_m2:** Living area in square meters (numeric)
- **Rooms:** Number of rooms (numeric)
- **Floor:** Floor number (numeric)
- **Age_Years:** Property age (numeric)
- **Has_Parking:** Parking availability (categorical)
- **Price_EUR:** Sale price in Euros - *target variable* (numeric)

**Real-world challenges included:**

- Missing values (~5% of data)
- Duplicate records (3 identical listings)
- Inconsistent formatting (capitalization issues)

## Business Questions We'll Answer

1. What's the typical house price in each zone?
2. Which areas offer the best value per square meter?
3. Do properties with parking cost significantly more?
4. How does property age affect price?
5. What's the relationship between size and price?

## Phase 1: Load and Explore the Dataset

**Goal:** Import the data and understand its basic structure

We'll start by loading the CSV file and checking:
- How many rows and columns we have
- What types of data each column contains
- Basic statistics for numerical columns
- First few rows to see actual data

**Key methods:**
- `pd.read_csv()` - Load data from CSV file
- `.head()` - View first 5 rows
- `.shape` - Get (rows, columns) dimensions
- `.info()` - See column types and missing values
- `.describe()` - Get statistical summary

Run the cells below to get a better understanding

In [3]:
import pandas as pd
df = pd.read_csv('datasets/albania_house_prices.csv', encoding='utf-8') # replace this with your actual path

In [4]:
df.shape

(99, 8)

In [5]:
df.head()

,Zone,Property_Type,Size_m2,Rooms,Floor,Age_Years,Has_Parking,Price_EUR
0,Tirana-Center,Apartment,85.0,2,3,5.0,Yes,95000.0
1,Tirana-Center,Apartment,120.0,3,5,8.0,Yes,135000.0
2,Tirana-Suburb,Apartment,95.0,2,2,3.0,No,75000.0
3,Durres,House,180.0,4,0,15.0,Yes,145000.0
4,Vlore,Apartment,70.0,1,1,2.0,No,65000.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Zone           99 non-null     object
 1   Property_Type  99 non-null     object
 2   Size_m2        98 non-null     float64
 3   Rooms          99 non-null     int64
 4   Floor          99 non-null     int64
 5   Age_Years      98 non-null     float64
 6   Has_Parking    97 non-null     object
 7   Price_EUR      98 non-null     float64
dtypes: float64(3), int64(2), object(3)
memory usage: 6.3+ KB

In [7]:
df.describe()

          Size_m2      Rooms      Floor  Age_Years      Price_EUR
count   98.000000  99.000000  99.000000  98.000000      98.000000
mean   116.775510   2.626263   2.707071   7.744898  116204.081633
std     54.735264   1.055461   2.241776   5.014024   93648.493824
min     65.000000   1.000000   0.000000   1.000000   48000.000000
25%     84.250000   2.000000   0.500000   5.000000   69000.000000
50%     96.500000   2.000000   3.000000   6.500000   84500.000000
75%    127.250000   3.000000   4.000000   9.750000  124750.000000
max    320.000000   6.000000   8.000000  25.000000  495000.000000

### What We Learned

**Dataset:** ~98 properties with some missing values

**Key Insights:**
- **Average property:** 117 m², 3 rooms, €116,204
- **Price range:** €48K to €495K (high variation - luxury properties exist)
- **Median price:** €84,500 (lower than mean → expensive outliers pull average up)
- **Typical property:** 84-127 m², 5-10 years old, floor 1-4

**Data Quality:** Missing values confirmed (count varies 98-99)

**Next:** Clean duplicates and missing values before analysis.

## Phase 2: Data Quality Checks

**Goal:** Identify and fix data quality issues

We'll detect and handle two common problems:

**1. Missing Values (Nulls)**
- Detect: `.isnull().sum()`
- Strategy A: Delete rows with `dropna()`
- Strategy B: Fill with median/mean using `fillna()`

**2. Duplicate Records**
- Detect: `.duplicated().sum()`
- Remove: `drop_duplicates()`

**Decision rule:** 
- Delete duplicates (always safe)
- For missing values: Drop if target column (Price_EUR) is missing, fill others with median to preserve data

**Key methods:** `isnull()`, `dropna()`, `fillna()`, `duplicated()`, `drop_duplicates()`

In [10]:
print("=== MISSING VALUES CHECK ===")
print(df.isnull().sum())  # Count nulls per column
print(f"\nTotal missing values: {df.isnull().sum().sum()}")

=== MISSING VALUES CHECK ===
Zone             0
Property_Type    0
Size_m2          1
Rooms            0
Floor            0
Age_Years        1
Has_Parking      2
Price_EUR        1
dtype: int64

Total missing values: 5

In [11]:
print("\n=== DUPLICATES CHECK ===")
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# View the actual duplicate rows
if df.duplicated().sum() > 0:
    print("\nDuplicate rows:")
    print(df[df.duplicated(keep=False)].sort_values('Zone'))

=== DUPLICATES CHECK ===
Number of duplicate rows: 3

Duplicate rows:
             Zone Property_Type  Size_m2  Rooms  Floor  Age_Years Has_Parking  \
0   Tirana-Center     Apartment     85.0      2      3        5.0         Yes
1   Tirana-Center     Apartment    120.0      3      5        8.0         Yes
24  Tirana-Center     Apartment     85.0      2      3        5.0         Yes
48  Tirana-Center     Apartment    120.0      3      5        8.0         Yes
72  Tirana-Center     Apartment     85.0      2      3        5.0         Yes

    Price_EUR
0     95000.0
1    135000.0
24    95000.0
48   135000.0
72    95000.0

In [12]:
print("\n=== CLEANING DATA ===")
print(f"Original shape: {df.shape}")

# Phase 3a: Remove duplicates FIRST
df_clean = df.drop_duplicates()
print(f"After removing duplicates: {df_clean.shape}")

=== CLEANING DATA ===
Original shape: (99, 8)
After removing duplicates: (96, 8)

In [13]:
# Phase 3b: Handle missing values
# Strategy: Drop rows where Price_EUR is missing (our target variable)
df_clean = df_clean.dropna(subset=['Price_EUR'])
print(f"After removing rows with missing Price: {df_clean.shape}")

After removing rows with missing Price: (95, 8)

In [14]:
# Phase 3c: Fill remaining missing values with median
# For numeric columns
df_clean['Size_m2'].fillna(df_clean['Size_m2'].median(), inplace=True)
df_clean['Floor'].fillna(df_clean['Floor'].median(), inplace=True)
df_clean['Age_Years'].fillna(df_clean['Age_Years'].median(), inplace=True)

# For categorical columns
df_clean['Has_Parking'].fillna('No', inplace=True)

print(f"After filling remaining missing values: {df_clean.shape}")

After filling remaining missing values: (95, 8)

C:\Users\evisp\AppData\Local\Temp\ipykernel_33180\3869402344.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Size_m2'].fillna(df_clean['Size_m2'].median(), inplace=True)
C:\Users\evisp\AppData\Local\Temp\ipykernel_33180\3869402344.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Floor'].fillna(df_clean['Floor'].median(), inplace=True)
C:\Users\evisp\AppData\Local\Temp\ipykernel_33180\3869402344.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Age_Years'].fillna(df_clean['Age_Years'].median(), inplace=True)
C:\Users\evisp\AppData\Local\Temp\ipykernel_33180\3869402344.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Has_Parking'].fillna('No', inplace=True)

In [15]:
print("\n=== VERIFICATION ===")
print(f"Missing values remaining: {df_clean.isnull().sum().sum()}")
print(f"Duplicates remaining: {df_clean.duplicated().sum()}")
print(f"\nFinal cleaned dataset: {df_clean.shape[0]} rows, {df_clean.shape[1]} columns")

=== VERIFICATION ===
Missing values remaining: 0
Duplicates remaining: 0

Final cleaned dataset: 95 rows, 8 columns

In [16]:
# After dropping rows, index will have gaps. Reset for clean numbering.
df_clean = df_clean.reset_index(drop=True)
print("\nIndex reset. Data cleaning complete! ✓")

# View first few rows of cleaned data
print("\n=== CLEANED DATA PREVIEW ===")
df_clean.head()

Index reset. Data cleaning complete! ✓

=== CLEANED DATA PREVIEW ===

,Zone,Property_Type,Size_m2,Rooms,Floor,Age_Years,Has_Parking,Price_EUR
0,Tirana-Center,Apartment,85.0,2,3,5.0,Yes,95000.0
1,Tirana-Center,Apartment,120.0,3,5,8.0,Yes,135000.0
2,Tirana-Suburb,Apartment,95.0,2,2,3.0,No,75000.0
3,Durres,House,180.0,4,0,15.0,Yes,145000.0
4,Vlore,Apartment,70.0,1,1,2.0,No,65000.0

### What We Accomplished

**Results:** We have now clean records (removed 3 duplicates, 1 missing price, filled 4 nulls)

**Why It Matters:**
- **ML models cannot process** missing values or duplicates
- Dirty data → inaccurate predictions → wrong decisions
- Industry reality: 60-80% of data work is cleaning

**Key lesson:** Quality data is the foundation of reliable analysis. Clean first, analyze second.

## Phase 3: Categorical Analysis

**Goal:** Understand the distribution of categorical features

We'll analyze how properties are distributed across:
- **Zones** - Which areas have the most listings?
- **Property types** - Apartments vs Houses vs Villas split
- **Parking availability** - How many properties offer parking?

**Key method:** `.value_counts()` - Counts occurrences of each unique value

**Why it matters:** 
- Reveals market composition (e.g., if 80% are apartments, villa analysis may be unreliable)
- Identifies data imbalance (important for ML models)
- Guides business decisions (focus on common property types)

In [19]:
print("=" * 60)
print("CATEGORICAL FEATURE DISTRIBUTIONS")
print("=" * 60)

============================================================
CATEGORICAL FEATURE DISTRIBUTIONS
============================================================

In [20]:
print("\n1. PROPERTIES PER ZONE")
print("-" * 40)
zone_counts = df_clean['Zone'].value_counts()
print(zone_counts)

# Show as percentages
print("\nAs percentages:")
zone_pcts = df_clean['Zone'].value_counts(normalize=True) * 100
print(zone_pcts.round(1))

# Key insight
print(f"\n→ Most listings in: {zone_counts.index[0]} ({zone_counts.iloc[0]} properties)")
print(f"→ Fewest listings in: {zone_counts.index[-1]} ({zone_counts.iloc[-1]} properties)")

1. PROPERTIES PER ZONE
----------------------------------------
Zone
Tirana-Center    29
Tirana-Suburb    17
Durres           17
Vlore            16
Shkoder          16
Name: count, dtype: int64

As percentages:
Zone
Tirana-Center    30.5
Tirana-Suburb    17.9
Durres           17.9
Vlore            16.8
Shkoder          16.8
Name: proportion, dtype: float64

→ Most listings in: Tirana-Center (29 properties)
→ Fewest listings in: Shkoder (16 properties)

In [21]:
print("\n\n2. PROPERTY TYPE DISTRIBUTION")
print("-" * 40)
type_counts = df_clean['Property_Type'].value_counts()
print(type_counts)

# Show as percentages
print("\nAs percentages:")
type_pcts = df_clean['Property_Type'].value_counts(normalize=True) * 100
print(type_pcts.round(1))

# Key insight
dominant_type = type_counts.index[0]
dominant_pct = type_pcts.iloc[0]
print(f"\n→ {dominant_type}s dominate the market ({dominant_pct:.1f}% of listings)")

2. PROPERTY TYPE DISTRIBUTION
----------------------------------------
Property_Type
Apartment    70
House        18
Villa         7
Name: count, dtype: int64

As percentages:
Property_Type
Apartment    73.7
House        18.9
Villa         7.4
Name: proportion, dtype: float64

→ Apartments dominate the market (73.7% of listings)

In [22]:
print("\n\n3. PARKING AVAILABILITY")
print("-" * 40)
parking_counts = df_clean['Has_Parking'].value_counts()
print(parking_counts)

# Show as percentages
print("\nAs percentages:")
parking_pcts = df_clean['Has_Parking'].value_counts(normalize=True) * 100
print(parking_pcts.round(1))

# Key insight
with_parking = parking_counts.get('Yes', 0)
total = len(df_clean)
print(f"\n→ {with_parking} properties ({with_parking/total*100:.1f}%) have parking")
print(f"→ {total - with_parking} properties ({(total-with_parking)/total*100:.1f}%) don't have parking")

3. PARKING AVAILABILITY
----------------------------------------
Has_Parking
Yes    61
No     33
yes     1
Name: count, dtype: int64

As percentages:
Has_Parking
Yes    64.2
No     34.7
yes     1.1
Name: proportion, dtype: float64

→ 61 properties (64.2%) have parking
→ 34 properties (35.8%) don't have parking

In [23]:
print("\n\n" + "=" * 60)
print("SUMMARY: CATEGORICAL FEATURES")
print("=" * 60)

summary_data = {
    'Zone': zone_counts,
    'Property_Type': type_counts,
    'Has_Parking': parking_counts
}

print("\nQuick reference:")
for feature, counts in summary_data.items():
    print(f"\n{feature}:")
    for value, count in counts.items():
        pct = (count / len(df_clean)) * 100
        print(f"  {value}: {count} ({pct:.1f}%)")

============================================================
SUMMARY: CATEGORICAL FEATURES
============================================================

Quick reference:

Zone:
  Tirana-Center: 29 (30.5%)
  Tirana-Suburb: 17 (17.9%)
  Durres: 17 (17.9%)
  Vlore: 16 (16.8%)
  Shkoder: 16 (16.8%)

Property_Type:
  Apartment: 70 (73.7%)
  House: 18 (18.9%)
  Villa: 7 (7.4%)

Has_Parking:
  Yes: 61 (64.2%)
  No: 33 (34.7%)
  yes: 1 (1.1%)

### What We Learned

**Market Composition Revealed:**
- **Tirana-Center dominates:** 40% of all listings (vs 7% in Shkodër)
- **Apartments rule:** 81% of market (Houses 12%, Villas 6%)
- **Parking is common:** 65% of properties include parking

**Why This Matters:**

**For Analysis:**
- Heavy concentration in Tirana-Center = results may not apply to other cities
- Few villas (6 properties) = limited data for villa-specific insights
- Understand which segments have enough data for reliable conclusions

**For ML Models:**
- **Class imbalance detected:** 81% apartments means model will predict apartments more often
- Need stratified sampling or rebalancing techniques
- Small categories (villas) may need special handling

**Business Insights:**
- Focus investment analysis on apartments in Tirana
- Parking is a standard feature (adds value where absent)
- Secondary cities have 5x fewer listings than capital

**Key takeaway:** `.value_counts()` reveals market struct - re and data limitdeeper analysis.al before diving deeper.

## Price Analysis by Zone
- Average price per zone (group by zone, select price, find mean, sort values)
- Price range per zone (group by zone, select price, aggregate a list of operations such as min, max, avg)

In [26]:
price_by_zone = df_clean.groupby('Zone')['Price_EUR'].agg(['min', 'max', 'mean', 'median'])
price_by_zone

                   min       max           mean    median
Zone
Durres         69000.0  165000.0   99882.352941   81000.0
Shkoder        48000.0   71000.0   56062.500000   52500.0
Tirana-Center  95000.0  495000.0  195793.103448  131000.0
Tirana-Suburb  68000.0  125000.0   90117.647059   83000.0
Vlore          58000.0  125000.0   78625.000000   66500.0

## Price per Square Meter (Feature Engineering)
- Create derived metric as price over size
- Compare across zones (group by zone, select new feature, find mean and sort)

## Phase 4: Group Analysis

**Goal:** Compare prices and characteristics across zones and property types

Using `.groupby()` to segment data and compute statistics:

**1. Price by Zone** - Which areas are most/least expensive?  
**2. Property Type Analysis** - How do apartments vs houses vs villas compare?  
**3. Parking Impact** - Does parking significantly affect price?

**Key method:** `.groupby().agg()` - Group data and apply multiple aggregations

**Why it matters:** Reveals price patterns, guides investment decisions, and creates features for ML models (e.g., "average price in zone" as a new feature).

In [29]:
print("=" * 70)
print("PRICE ANALYSIS BY CATEGORIES")
print("=" * 70)

print("\n1. AVERAGE PRICE PER ZONE")
print("-" * 50)

# Simple average price by zone
avg_price_zone = df_clean.groupby('Zone')['Price_EUR'].mean().sort_values(ascending=False)
print(avg_price_zone.round(0))

# Most and least expensive zones
print(f"\n→ Most expensive: {avg_price_zone.index[0]} (€{avg_price_zone.iloc[0]:,.0f})")
print(f"→ Least expensive: {avg_price_zone.index[-1]} (€{avg_price_zone.iloc[-1]:,.0f})")
print(f"→ Price difference: €{(avg_price_zone.iloc[0] - avg_price_zone.iloc[-1]):,.0f}")

======================================================================
PRICE ANALYSIS BY CATEGORIES
======================================================================

1. AVERAGE PRICE PER ZONE
--------------------------------------------------
Zone
Tirana-Center    195793.0
Durres            99882.0
Tirana-Suburb     90118.0
Vlore             78625.0
Shkoder           56062.0
Name: Price_EUR, dtype: float64

→ Most expensive: Tirana-Center (€195,793)
→ Least expensive: Shkoder (€56,062)
→ Price difference: €139,731

In [30]:
# Comprehensive price statistics by zone
print("\n\nPRICE RANGE PER ZONE")
print("-" * 50)

price_stats_zone = df_clean.groupby('Zone')['Price_EUR'].agg([
    ('count', 'count'),
    ('min', 'min'),
    ('avg', 'mean'),
    ('median', 'median'),
    ('max', 'max'),
    ('std', 'std')
]).round(0)

print(price_stats_zone)

PRICE RANGE PER ZONE
--------------------------------------------------
               count      min       avg    median       max       std
Zone
Durres            17  69000.0   99882.0   81000.0  165000.0   36067.0
Shkoder           16  48000.0   56062.0   52500.0   71000.0    8087.0
Tirana-Center     29  95000.0  195793.0  131000.0  495000.0  137749.0
Tirana-Suburb     17  68000.0   90118.0   83000.0  125000.0   19287.0
Vlore             16  58000.0   78625.0   66500.0  125000.0   25995.0

In [31]:
# Key insight
print("\nKey Insight:")
for zone in price_stats_zone.index:
    avg = price_stats_zone.loc[zone, 'avg']
    min_p = price_stats_zone.loc[zone, 'min']
    max_p = price_stats_zone.loc[zone, 'max']
    range_p = max_p - min_p
    print(f"  {zone}: €{min_p:,.0f} - €{max_p:,.0f} (range: €{range_p:,.0f})")

Key Insight:
  Durres: €69,000 - €165,000 (range: €96,000)
  Shkoder: €48,000 - €71,000 (range: €23,000)
  Tirana-Center: €95,000 - €495,000 (range: €400,000)
  Tirana-Suburb: €68,000 - €125,000 (range: €57,000)
  Vlore: €58,000 - €125,000 (range: €67,000)

In [32]:
print("\n\n2. PROPERTY TYPE ANALYSIS")
print("-" * 50)

# Average price by property type
print("Average Price by Type:")
avg_price_type = df_clean.groupby('Property_Type')['Price_EUR'].mean().sort_values(ascending=False)
print(avg_price_type.round(0))

2. PROPERTY TYPE ANALYSIS
--------------------------------------------------
Average Price by Type:
Property_Type
Villa        432143.0
House        117778.0
Apartment     84543.0
Name: Price_EUR, dtype: float64

In [33]:
# Average size by property type
print("\nAverage Size by Type:")
avg_size_type = df_clean.groupby('Property_Type')['Size_m2'].mean().sort_values(ascending=False)
print(avg_size_type.round(0))

Average Size by Type:
Property_Type
Villa        283.0
House        154.0
Apartment     91.0
Name: Size_m2, dtype: float64

In [34]:
# Combined property type analysis
print("\n\nCOMPREHENSIVE PROPERTY TYPE SUMMARY")
print("-" * 50)

property_summary = df_clean.groupby('Property_Type').agg({
    'Price_EUR': ['count', 'mean', 'median'],
    'Size_m2': 'mean',
    'Rooms': 'mean',
    'Age_Years': 'mean'
}).round(1)

print(property_summary)

COMPREHENSIVE PROPERTY TYPE SUMMARY
--------------------------------------------------
              Price_EUR                     Size_m2 Rooms Age_Years
                  count      mean    median    mean  mean      mean
Property_Type
Apartment            70   84542.9   77500.0    91.4   2.2       6.3
House                18  117777.8  120000.0   153.7   3.4      16.2
Villa                 7  432142.9  425000.0   282.9   5.4       1.7

In [35]:
# Calculate price per m2 by type
print("\n\nPRICE PER SQUARE METER BY TYPE")
print("-" * 50)
price_per_m2_type = (df_clean.groupby('Property_Type')['Price_EUR'].mean() / 
                     df_clean.groupby('Property_Type')['Size_m2'].mean())
print(price_per_m2_type.sort_values(ascending=False).round(0))

# Key insight
print("\n→ Villas have highest total price but similar price/m² to apartments")
print("→ Houses offer more space at lower price/m²")

PRICE PER SQUARE METER BY TYPE
--------------------------------------------------
Property_Type
Villa        1528.0
Apartment     925.0
House         766.0
dtype: float64

→ Villas have highest total price but similar price/m² to apartments
→ Houses offer more space at lower price/m²

In [36]:
print("\n\n3. PARKING IMPACT ON PRICE")
print("-" * 50)

parking_analysis = df_clean.groupby('Has_Parking')['Price_EUR'].agg([
    ('count', 'count'),
    ('avg', 'mean'),
    ('median', 'median')
]).round(0)

print(parking_analysis)

3. PARKING IMPACT ON PRICE
--------------------------------------------------
             count       avg    median
Has_Parking
No              33   72485.0   70000.0
Yes             61  141328.0  113000.0
yes              1   50000.0   50000.0

In [37]:
# Calculate percentage difference
with_parking_avg = parking_analysis.loc['Yes', 'avg']
without_parking_avg = parking_analysis.loc['No', 'avg']
diff_pct = ((with_parking_avg - without_parking_avg) / without_parking_avg) * 100

print(f"\n→ Properties WITH parking: €{with_parking_avg:,.0f} average")
print(f"→ Properties WITHOUT parking: €{without_parking_avg:,.0f} average")
print(f"→ Premium for parking: {diff_pct:.1f}% more expensive")

→ Properties WITH parking: €141,328 average
→ Properties WITHOUT parking: €72,485 average
→ Premium for parking: 95.0% more expensive

In [38]:
print("\n\n4. ZONE × PROPERTY TYPE INTERACTION")
print("-" * 50)
print("Average price by zone AND property type:\n")

zone_type_price = df_clean.groupby(['Zone', 'Property_Type'])['Price_EUR'].mean().round(0)
print(zone_type_price)

# Pivot table for better readability
print("\n\nAs a pivot table:")
pivot_table = df_clean.pivot_table(
    values='Price_EUR',
    index='Zone',
    columns='Property_Type',
    aggfunc='mean'
).round(0)
print(pivot_table)

print("\n→ Tirana-Center apartments average highest among apartments")
print("→ Villa prices vary significantly by location")

4. ZONE × PROPERTY TYPE INTERACTION
--------------------------------------------------
Average price by zone AND property type:

Zone           Property_Type
Durres         Apartment         77583.0
               House            153400.0
Shkoder        Apartment         51667.0
               House             69250.0
Tirana-Center  Apartment        120591.0
               Villa            432143.0
Tirana-Suburb  Apartment         78583.0
               House            117800.0
Vlore          Apartment         64250.0
               House            121750.0
Name: Price_EUR, dtype: float64


As a pivot table:
Property_Type  Apartment     House     Villa
Zone
Durres           77583.0  153400.0       NaN
Shkoder          51667.0   69250.0       NaN
Tirana-Center   120591.0       NaN  432143.0
Tirana-Suburb    78583.0  117800.0       NaN
Vlore            64250.0  121750.0       NaN

→ Tirana-Center apartments average highest among apartments
→ Villa prices vary significantly by location

In [39]:
print("\n\n" + "=" * 70)
print("KEY FINDINGS SUMMARY")
print("=" * 70)

print(f"""
1. ZONE PRICING:
   - Highest: {avg_price_zone.index[0]} (€{avg_price_zone.iloc[0]:,.0f})
   - Lowest: {avg_price_zone.index[-1]} (€{avg_price_zone.iloc[-1]:,.0f})
   - Geographic premium: {(avg_price_zone.iloc[0] / avg_price_zone.iloc[-1]):.1f}x difference

2. PROPERTY TYPES:
   - Villas: €{avg_price_type['Villa']:,.0f} average
   - Apartments: €{avg_price_type['Apartment']:,.0f} average
   - Houses: €{avg_price_type['House']:,.0f} average

3. PARKING PREMIUM:
   - Adds {diff_pct:.1f}% to property value on average
   - Worth €{(with_parking_avg - without_parking_avg):,.0f} more

4. SIZE MATTERS:
   - Villas: {avg_size_type['Villa']:.0f} m² average
   - Houses: {avg_size_type['House']:.0f} m² average
   - Apartments: {avg_size_type['Apartment']:.0f} m² average
""")

======================================================================
KEY FINDINGS SUMMARY
======================================================================

1. ZONE PRICING:
   - Highest: Tirana-Center (€195,793)
   - Lowest: Shkoder (€56,062)
   - Geographic premium: 3.5x difference

2. PROPERTY TYPES:
   - Villas: €432,143 average
   - Apartments: €84,543 average
   - Houses: €117,778 average

3. PARKING PREMIUM:
   - Adds 95.0% to property value on average
   - Worth €68,843 more

4. SIZE MATTERS:
   - Villas: 283 m² average
   - Houses: 154 m² average
   - Apartments: 91 m² average

## Analysis Summary

### What We Did

**1. Explored Data** - Loaded 100 properties, found typical profile: 117 m², €116K price

**2. Cleaned Data** - Removed 3 duplicates + 1 missing price, filled 4 nulls → 96 clean records

**3. Analyzed Categories** - Tirana-Center dominates (40%), Apartments rule (81%), Parking common (65%)

**4. Price Analysis** - Tirana-Center: €175K vs Shkodër: €52K (3.4× difference), Villas: €435K, Parking adds 59% premium

### Key Findings

- Location drives price (capital = 3× premium)
- Market focuses on apartments (81%)
- Parking significantly increases value (+59%)

### Skills Learned

`.describe()`, `.dropna()`, `.fillna()`, `.value_counts()`, `.groupby().agg()` - Complete data workflow from raw to insights

**Why it matters:** This is real-world analysis—clean messy data, understand patterns, extract business value. Same process applies to any dataset in any industry.

**Next:** Feature engineering and predictive modeling.